body {
    text-align: center;
    overflow: hidden;

    height:100%;

    background: #24d35f;
}

.bodyCheated {
    background: #f7481c;
}

.background {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh
}

.title-container {
    /* position: relative;
    height: 100vh; */

    /* line-height: 50%; */
    margin: 0px;
    position: absolute;
    top : calc(50% - 3em);
    left: 50%;
    transform    : translate(-50%, -50%);  
}

.title {
    font-size: 400%;
    margin-bottom: 0px;
}


.subtext {
    font-size: 200%;
    margin-top: 0px;
}
p {
    font-family: sans-serif;
    font-weight: 900;
    color: white;
    text-shadow: 2px 2px black;
}